html, body {
    height: 100%;
    margin: 0;
}
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.records{
  color: white;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
}